ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008CBA;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Arial;

}


li a:hover {
    background-color: black;
}

body {
    background-color: #33cccc;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    max-width: 100%;
    height: 900px;
    padding: 0;
    font-size: 90%;
    font-family: arial, verdana, sans-serif;
    line-height: 1.5;

}


.HPO {

    text-align:center;
    font-size: 2.5em;
    color: white;
    font-family:Arial;
    bottom: 10em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;
    top: 3%;
    margin-bottom: 5%;


}

.Title {

    border: 3.5px solid white;
    font-size:2.0em;
    margin: auto;

    background-color: #008CBA;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}

.Desc {

    border: 0.5px solid white;
    font-size:1.0em;
    margin: auto;
    text-align: center;
    background-color: #008CBA;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;



}

.EV {

    padding-bottom: 5px;
    padding-top: 8px;
}